body {
    background-color: #F3F044;
}

/*MENU FIXE*/
/*POSITIONS*/
nav {
    position: fixed;
    top: 40px;
    left: 10px;
    z-index: 10;
    /* writing-mode: vertical-rl; */
}

.sous{
  display: none;
}

nav > ul li:hover .sous{
  display: block;
}

/*                */

nav {
    display: block;
}
ul {
    list-style: none;
}
header div nav li {
    float: left;
}
nav li a {
    border: none;
    color: #DE162B;
    text-decoration: none;
    font-family: Helvetica, sans-serif;
    text-shadow: 5px 5px 5px #7724D7;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 50px;
}

div.centre {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    font-size: 100px;
    text-shadow: 5px 5px 0px #7724D7;
    color: #DE162B;
    text-transform: uppercase;
}

/* .bordered {
    border: 4px solid #FFF;
    padding: 2em;
    width: 50%;
    text-align: center;
    margin: auto;
} */


footer {
    margin: 0px 0px 10px;
    width: 100%;
    text-align: center;
    color: #aaa;
    text-transform: uppercase;
    font-size: 0.5em;
    line-height: 1.5em;
    position: absolute; bottom: 0;
}

footer p {
    vertical-align: inherit;
    font-family: Helvetica, sans-serif;
}
